
$color-primay: #5badff;
$color-secondary: #2d89e5;
$pg-color: #eaf4ff;


$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;
$pc-width: 1200px;

@mixin mobile { @media (max-width: #{$mobile -width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

@mixin pc {   @media (min-width: #{$pc-width}) {     
    @content;  
   } 
}